@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom utilities for vertical text */
/* @layer utilities {
  .writing-mode-vertical-rl {
    writing-mode: vertical-rl;
  }

  .text-orientation-mixed {
    text-orientation: mixed;
  }
} */

/* global.css hoặc tailwind.config.js */
@keyframes pulse {
  0%, 100% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.1;
  }
}

body {
  font-family: "Barlow", Helvetica, Arial, sans-serif;
}

html.no-scroll,
body.no-scroll {
  overflow: hidden !important;
}

/* globals.css hoặc một file style được import vào app */
.bg-hero {
  background-image: url('/assets/lib/promo_fw25_4july_bnr_m_b782140aa6.jpg?width=768');
  background-size: cover;
  background-position: top;
}

@media (min-width: 768px) {
  .bg-hero {
    background-image: url('/assets/lib/promo_fw25_4july_bnr_t_08599fc62e.jpg?width=1024');
  }
}

@media (min-width: 1024px) {
  .bg-hero {
    background-image: url('/assets/lib/promo_fw25_4july_bnr_d_26cdc26d1a.jpg?width=1280');
  }
}
.bg-hero-women {
  background-image: url('/assets/lib/originals_fw25_tatemcraesuperstar_bnr_sustain_m_1e9e83f7e9.jpg?width=768');
  background-size: cover;
  background-position: top;
}

@media (min-width: 768px) {
  .bg-hero-women {
    background-image: url('/assets/lib/originals_fw25_tatemcraesuperstar_bnr_sustain_t_c8212de2ad.jpg?width=1024');
  }
}

@media (min-width: 1024px) {
  .bg-hero-women {
    background-image: url('/assets/lib/originals_fw25_tatemcraesuperstar_bnr_sustain_d_9bf87fca6e.jpg?width=1280');
  }
}
/* men */
.bg-hero-men {
  background-image: url('/assets/lib/originals_fw25_theoriginal_bnr_sustain_m_5b97281d88.jpg?width=768');
  background-size: cover;
  background-position: top;
}

@media (min-width: 768px) {
  .bg-hero-men {
    background-image: url('/assets/lib/originals_fw25_theoriginal_bnr_sustain_t_d58d9b4bfd.jpg?width=1024');
  }
}

@media (min-width: 1024px) {
  .bg-hero-men {
    background-image: url('/assets/lib/originals_fw25_theoriginal_bnr_sustain_d_7b559513d6.jpg?width=1280');
  }
}
/* kids */
.bg-hero-kids {
  background-image: url('/assets/lib/xcat_fw25_bts_bnr_htt_k_t_077be7daab.jpg?width=768');
  background-size: cover;
  background-position: top;
}

@media (min-width: 768px) {
  .bg-hero-kids {
    background-image: url('/assets/lib/xcat_fw25_bts_bnr_htt_k_m_a89403c091.png?width=1024');
  }
}

@media (min-width: 1024px) {
  .bg-hero-kids {
    background-image: url('/assets/lib/xcat_fw25_bts_bnr_htt_k_d_275d94b938.jpg?width=1280');
  }
}
