@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* global.css hoặc tailwind.config.js */
@keyframes pulse {
  0%, 100% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.1;
  }
}

/* globals.css hoặc một file style được import vào app */
.bg-hero {
  background-image: url('/assets/lib/socc_fw25_intermiamijersey_bnr_m_f968cf03e1.jpg?width=768');
  background-size: cover;
  background-position: top;
}

@media (min-width: 768px) {
  .bg-hero {
    background-image: url('/assets/lib/socc_fw25_intermiamijersey_bnr_t_e4d13723de.jpg?width=1024');
  }
}

@media (min-width: 1024px) {
  .bg-hero {
    background-image: url('/assets/lib/socc_fw25_intermiamijersey_bnr_d_1ae2424c13.jpg?width=1280');
  }
}
.bg-hero-second {
  background-image: url('/assets/lib/originals_fw25_tatemcraesuperstar_bnr_sustain_m_1e9e83f7e9.jpg?width=768');
  background-size: cover;
  background-position: top;
}

@media (min-width: 768px) {
  .bg-hero-second {
    background-image: url('/assets/lib/originals_fw25_tatemcraesuperstar_bnr_sustain_t_c8212de2ad.jpg?width=1024');
  }
}

@media (min-width: 1024px) {
  .bg-hero-second {
    background-image: url('/assets/lib/originals_fw25_tatemcraesuperstar_bnr_sustain_d_9bf87fca6e.jpg?width=1280');
  }
}
/* men */
.bg-hero-men {
  background-image: url('/assets/lib/originals_fw25_theoriginal_bnr_sustain_m_5b97281d88.jpg?width=768');
  background-size: cover;
  background-position: top;
}

@media (min-width: 768px) {
  .bg-hero-men {
    background-image: url('/assets/lib/originals_fw25_theoriginal_bnr_sustain_t_d58d9b4bfd.jpg?width=1024');
  }
}

@media (min-width: 1024px) {
  .bg-hero-men {
    background-image: url('/assets/lib/originals_fw25_theoriginal_bnr_sustain_d_7b559513d6.jpg?width=1280');
  }
}
