@{
    ViewData["Title"] = "Help";
}

<h1>Help</h1>
<p>
    Get help on the Sample App at the
    <a href="https://www.example.com/help">Sample App Help page</a>.
    To get help on this sample app, see the
    <a href="https://www.example.com/book">Sample App Book</a>.
</p>
